.stats {
    display: flex;
    justify-content: center;
}

.floor-block {
  display: flex;
}

.eth {
  padding-bottom: 2px;
}

#customers {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    font-weight: 700;
    font-size: 16px;
  }
  
  #customers td, #customers th {
    /* border: 1px solid #fff; */
    text-align: left;
    padding: 30px;

  }

  #customers td {
    border-bottom: 1px solid #ddd;
  }

  tr .left-end {
    border-radius: 10px 0px 0px 10px;
  }

  tr .right-end {
    border-radius: 0px 10px 10px 0px;
  }

  #customers tr:hover {
    transition: 200ms;
    border-radius: 5px;
    box-shadow: 0 0 6px #f3a333;
  }


  #customers th {
    border-color: #f16821;
    /* padding-top: 20px;
    padding-bottom: 20px; */
    padding: 30px;
    text-align: left;
    background-color: #f16821;
    color: #fff;
    font-weight: 700;
  }

  .rank {
    display: flex;
    align-items: center;
  }

td > img {
  height: 80px;
  min-width: 80px;
  border-radius: 80px
}



.rank > h2 {
  padding-top: .5rem;
  margin-left: 2rem;
  margin-right: 4rem;
}

.rank > .collection-name {
  padding-top: .5em;
  vertical-align: middle;
}

@media (max-width: 576px) {

  th:nth-child(4) {
    display: none;
  }

  td:nth-child(4) {
    display: none;
  }

  th:nth-child(3) {
    display: none;
  }

  td:nth-child(3) {
    display: none;
  }

  th:nth-child(2) {
    border-radius: 0 10px 10px 0;
  }

  td > img {
    height: 50px;
    min-width: 50px;
    border-radius: 50px;
  }

  .rank > h2 {
    padding-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1.2rem;
  }
  
  .rank > .collection-name {
    padding-top: .5em;
    vertical-align: middle;
    font-size: .9rem;
  }

  td:nth-child(2) {
    font-size: .9rem;
  }
}

@media (min-width: 576px) and (max-width: 768px) {

  th:nth-child(4) {
    display: none;
  }

  td:nth-child(4) {
    display: none;
  }

  th:nth-child(3) {
    border-radius: 0 10px 10px 0;
  }

  .rank > h2 {
    padding-top: .5rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
