.About  {
    width: 100%;
}

.whole-about {
    display: inline-block;
}

.whole-about {
    padding: 5em;
}

.image-about > img {
    border-radius: 10px;
    /* max-width: 500px; */
    width: fit-content;
    height: auto;
}

.description-about {
    /* max-width: 500px; */
    display: inline-block;
    width: fit-content;
}

.description-about > p {
    text-align: left;
}

@media (min-width: 993px) {

    .description-about {
        /* width: 50%; */
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media (min-width: 1200px) {

    .description-about {
        /* width: 50%; */
        margin-left: 20%;
        margin-right: 20%;
    }
}



