.main {
    display: inline-block;
}

.slideshow {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

}

.text-container {
    width: 250px;
    margin-right: 20px;
    animation: fade 16s infinite;
}

.text-container > h1 {
    font-weight: 500;
}

.image-container {
    overflow: hidden;
    height: 500px;
    width: 700px;
    margin: 0;
    animation: fadeImage 16s infinite;
}

@keyframes fadeImage {
0% {background-image: url("./image1.jpg") ;}
25% {background-image: url("./image2.jpg") ;}
50% {background-image: url("./image3.jpg") ;}
75% {background-image: url("./image4.jpg") ;}
100% {background-image: url("./image1.jpg") ;}
}

.author {
    display: flex;
}

.author > img {
    justify-content: center;
}

.article-description {
    padding-top: 20px;
    max-width: auto;
}