.topnav {
    display: flex;
    background-color: #fff;

}

.routes {
    width: 80%;
    text-align: right;
    padding: 30px;
}

.logo {
    text-align: left;
    width: 20%;
    padding: 1em;
}

.topnav a {
    font-size: 18px;
    padding: 1em;
    text-decoration: none;
    font-weight: 500;
    color: #cd4545
}

.topnav a:hover {
    transition: .3s;
    background-color: #f3a333;
    border-radius: 20px;
    color: #fff;
  }